#navbar{
    height: 50px;
    width: 100;
    border:1px solid black;
}
#navbar>a{
    font-size: 21px;
    margin-left: 20px;
}

#search_input{
    height: 30px;
    width: 70%;
    margin-left: 60px;
    border-radius: 12px;
    margin-top: 7px;
}


#results{
    border:1px solid teal;
    width: 85%;

}
.news{
    border: 1px solid red;
    display:flex;
    height: auto;
    width: auto;
}

#div1{
     border:1px solid green;
     height: 250px;
     width: 35%;
}

#img1{
    height: 250px;
    width: 100%;
}

#div2{
    border:1px solid green;
    height: 250px;
    width: 65%;
}
